  {{#each buildings as |building|}}
    <section data-id="{{building.id}}">
        <h6>Building ID:</h6>
        <p>
        {{#if building.id}}
        {{building.id}}
        {{/if}}
      </p>
      <h6>Building Name:</h6>
      <p>
         {{#if building.name}}
         {{building.name}}
         {{/if}}
       </p>
      <p>
        {{#if building.address}}
          {{building.address}}
        {{/if}}
      </p>
      <p>
        {{#if building.price}}
          {{building.price}}
        {{/if}}
      </p>
    </section>
    {{/each}}
