{{#each buildings as |building|}}
  {{log building}}
  <section data-id="{{building.id}}">
    <h3>
      {{building.id}}: {{building.name}}
    </h3>
    <p>
      {{#if building.address}}
        {{building.address}}
      {{else}}
        No address provided
      {{/if}}
    </p>
    <p>
      {{#if building.price}}
        {{building.price}}
      {{else}}
        No price provided
      {{/if}}
    </p>
  </section>
  {{/each}}
