  {{#each buildings as |building|}}
    <section data-id="{{building.id}}">
        <h6>Building ID:</h6>
        <p>
        {{#if building.id}}
        {{building.id}}
        {{/if}}
      </p>
      <h6>Building Address:</h6>
      <p>
         {{#if building.address}}
         {{building.address}}
         {{/if}}
       </p>
       <h6>Building Price:</h6>
      <p>
        {{#if building.price}}
          {{building.price}}
        {{/if}}
      </p>
      <h6>Square Footage of Building:</h6>
      <p>
        {{#if building.sq_feet}}
          {{building.sq_feet}}
        {{/if}}
      </p>
    </section>
    {{/each}}
